[submodule "vim/bundle/vim-es6"]
	path = vim/bundle/vim-es6
	url = https://github.com/isRuslan/vim-es6.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = https://github.com/godlygeek/tabular
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "vim/bundle/diffconflicts"]
	path = vim/bundle/diffconflicts
	url = https://github.com/whiteinge/diffconflicts
[submodule "vim/bundle/lightline"]
	path = vim/bundle/lightline
	url = https://github.com/itchyny/lightline.vim
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/vim-json"]
	path = vim/bundle/vim-json
	url = https://github.com/elzr/vim-json
[submodule "vim/bundle/vim-jsx"]
	path = vim/bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "vim/bundle/vimwiki"]
	path = vim/bundle/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim/bundle/vim-perl"]
	path = vim/bundle/vim-perl
	url = https://github.com/vim-perl/vim-perl
[submodule "vim/bundle/vim-perl6"]
	path = vim/bundle/vim-perl6
	url = https://github.com/vim-perl/vim-perl6
[submodule "vim/bundle/copy-cut-paste"]
	path = vim/bundle/copy-cut-paste
	url = https://github.com/NLKNguyen/copy-cut-paste.vim
[submodule "vim/bundle/fzf"]
	path = vim/bundle/fzf
	url = https://github.com/junegunn/fzf
[submodule "vim/bundle/fzf.vim"]
	path = vim/bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "vim/bundle/vimtex"]
	path = vim/bundle/vimtex
	url = https://github.com/lervag/vimtex
[submodule "vim/bundle/vim-pandoc"]
	path = vim/bundle/vim-pandoc
	url = https://github.com/vim-pandoc/vim-pandoc
[submodule "vim/bundle/vim-pandoc-syntax"]
	path = vim/bundle/vim-pandoc-syntax
	url = https://github.com/vim-pandoc/vim-pandoc-syntax
[submodule "vim/bundle/tlib_vim"]
	path = vim/bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim/bundle/vim-addon-mw-utils"]
	path = vim/bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/bundle/vim-snipmate"]
	path = vim/bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "vim/bundle/vim-snippets"]
	path = vim/bundle/vim-snippets
	url = https://github.com/honza/vim-snippets
[submodule "vim/bundle/vim-ansiesc"]
	path = vim/bundle/vim-ansiesc
	url = https://github.com/powerman/vim-plugin-AnsiEsc
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/emmit-vim"]
	path = vim/bundle/emmit-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "vim/bundle/vim-gitgutter"]
	path = vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim/bundle/vim-localvimrc"]
	path = vim/bundle/vim-localvimrc
	url = https://github.com/embear/vim-localvimrc
