[submodule "vim/bundle/vim-es6"]
	path = vim/bundle/vim-es6
	url = https://github.com/isRuslan/vim-es6.git
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = https://github.com/godlygeek/tabular
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "vim/bundle/diffconflicts"]
	path = vim/bundle/diffconflicts
	url = https://github.com/whiteinge/diffconflicts
[submodule "vim/bundle/lightline"]
	path = vim/bundle/lightline
	url = https://github.com/itchyny/lightline.vim
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/vim-json"]
	path = vim/bundle/vim-json
	url = https://github.com/elzr/vim-json
[submodule "vim/bundle/vim-jsx"]
	path = vim/bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule "vim/bundle/vimwiki"]
	path = vim/bundle/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf.git
