# #!/usr/bin/perl
snippet #!
	#!/usr/bin/env perl
	
# method Pointer
snippet .
	->
# hash Pointer
snippet ,
	=> 
snippet def
	defined ${1}
snippet immutable
	__PACKAGE__->meta->make_immutable;

snippet moose
	use Moose;
	use namespace::autoclean;
	
	__PACKAGE__->meta->make_immutable;
snippet =name
	=head1 NAME
	
	${1}
	
snippet =syn
	=head1 SYNOPSIS
	
	 ${1}
snippet =h1
	=head1
	
	${1}
	
snippet =h2
	=head2
	
	${1}
	
snippet =c
	=cut
